.card {
    border: none;
    display: inline-block;
    text-align: left;
    max-width: 350px;

    &-img-top {
        border-radius: 0;
    }

    &-body {
        padding: 0;
        padding-top: 2.5rem;
    }
    h5 {
        text-transform: uppercase;
        font-weight: 500;
        padding: 0;
    }
}