.heading__border-bottom {
    &--center::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        transform: translateX(-50%);
        border-bottom: 3px solid rgb(0, 171, 201);
    }
    &--left::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        border-bottom: 3px solid rgb(0, 171, 201);
    }
}