nav {
    text-transform: uppercase;
    background: #fff;
    z-index: 999 !important;

    .nav__logo {
        width: 75%;
    }

    .nav-link {
        color: rgb(119, 119, 119);
        font-weight: 500;
    }

    .nav-item {
        margin-right: 2rem;
    }
}